In [4]:
from sqlalchemy import create_engine
import dotenv
import os
import pandas as pd
dotenv.load_dotenv(override=True)
username = os.getenv('username')
password = os.getenv('password')
host = os.getenv('host')
dbname = os.getenv('dbname')

import pandas as pd
dbname = "AdventureWorksDW"
conn_string = f"mysql+pymysql://{username}:{password}@{host}/{dbname}"
db_engine = create_engine(conn_string)
query = """SELECT *
        FROM dimcustomer
        LIMIT 100
        """
df = pd.read_sql(query, db_engine)

In [7]:
print(df.head(10))

   CustomerKey  GeographyKey CustomerAlternateKey Title  FirstName MiddleName  \
0        11000            26           AW00011000  None        Jon          V
1        11001            37           AW00011001  None     Eugene          L
2        11002            31           AW00011002  None      Ruben       None
3        11003            11           AW00011003  None    Christy       None
4        11004            19           AW00011004  None  Elizabeth       None
5        11005            22           AW00011005  None      Julio       None
6        11006             8           AW00011006  None      Janet          G
7        11007            40           AW00011007  None      Marco       None
8        11008            32           AW00011008  None        Rob       None
9        11009            25           AW00011009  None    Shannon          C

  LastName  NameStyle   BirthDate MaritalStatus  ... EnglishOccupation  \
0     Yang          0  1971-10-06             M  ...      Professional
1    Huang          0  1976-05-10             S  ...      Professional
2   Torres          0  1971-02-09             M  ...      Professional
3      Zhu          0  1973-08-14             S  ...      Professional
4  Johnson          0  1979-08-05             S  ...      Professional
5     Ruiz          0  1976-08-01             S  ...      Professional
6  Alvarez          0  1976-12-02             S  ...      Professional
7    Mehta          0  1969-11-06             M  ...      Professional
8  Verhoff          0  1975-07-04             S  ...      Professional
9  Carlson          0  1969-09-29             S  ...      Professional

  SpanishOccupation FrenchOccupation  HouseOwnerFlag  NumberCarsOwned  \
0       Profesional            Cadre               1                0
1       Profesional            Cadre               0                1
2       Profesional            Cadre               1                1
3       Profesional            Cadre               0                1
4       Profesional            Cadre               1                4
5       Profesional            Cadre               1                1
6       Profesional            Cadre               1                1
7       Profesional            Cadre               1                2
8       Profesional            Cadre               1                3
9       Profesional            Cadre               0                1

          AddressLine1 AddressLine2                Phone DateFirstPurchase  \
0      3761 N. 14th St         None  1 (11) 500 555-0162        2011-01-19
1           2243 W St.         None  1 (11) 500 555-0110        2011-01-15
2     5844 Linden Land         None  1 (11) 500 555-0184        2011-01-07
3     1825 Village Pl.         None  1 (11) 500 555-0162        2010-12-29
4  7553 Harness Circle         None  1 (11) 500 555-0131        2011-01-23
5  7305 Humphrey Drive         None  1 (11) 500 555-0151        2010-12-30
6        2612 Berry Dr         None  1 (11) 500 555-0184        2011-01-24
7     942 Brook Street         None  1 (11) 500 555-0126        2011-01-09
8     624 Peabody Road         None  1 (11) 500 555-0164        2011-01-25
9  3839 Northgate Road         None  1 (11) 500 555-0110        2011-01-27

  CommuteDistance
0       1-2 Miles
1       0-1 Miles
2       2-5 Miles
3      5-10 Miles
4       1-2 Miles
5      5-10 Miles
6      5-10 Miles
7       0-1 Miles
8       10+ Miles
9      5-10 Miles

[10 rows x 29 columns]

In [ ]:
# Esercizio L'azienda Object SpA ha creato una lista di quanti oggetti ha venduto ogni mese nell'ultimo anno:
lst = [2000, 5500, 7200, 4320, 1280, 1900, 2500, 3900, 6410, 8150, 7100, 5350] 
#trasformiamola in un array NumPy (casting): lst = np.array(lst) e rispondiamo alle domande del CEO della Object SpA:
#• qual è stata la vendita massima mensile? E quella minima? • quali sono le vendite mensili maggiori di 4999 oggetti? E quante ne sono? 
#• quali sono le vendite minori di 3000 oggetti? • in media quanti oggetti sono stati venduti al mese?

In [14]:
import pandas as pd
import numpy as np

lst = [2000, 5500, 7200, 4320, 1280, 1900, 2500, 3900, 6410, 8150, 7100, 5350] 

lst_npy = np.array(lst)

In [36]:
lst_npy.max()
lst_npy.min()
oggetti_maggiori_di = []
oggetti_minori_di = []

condizione = lst_npy > 4999

for mese in lst_npy:
    if mese > 4999:
      oggetti_maggiori_di.append(mese)  
print(oggetti_maggiori_di)

for mese_vendita in lst_npy:
    if mese_vendita < 3000:
      oggetti_minori_di.append(mese_vendita)  
print(oggetti_minori_di)


print(lst_npy[condizione])

[5500, 7200, 6410, 8150, 7100, 5350]
[2000, 1280, 1900, 2500]
[5500 7200 6410 8150 7100 5350]

In [52]:
#Esercizio Consideriamo il seguente dizionario: 
fatturati_dict = {1997: 12_000, 1998: 15_000, 1999: 20_000, 2000: 23_000, 2001: 25_000, 2002: 17_000, 2003: 14_000, 2004: 21_000}
#Consideriamo ora la seguente Series: 
fatturati_series = pd.Series([12_000, 15_000, 20_000, 23_000, 25_000, 17_000, 14_000, 21_000],index=range(1997, 2005)) 
fatturati_series2 = pd.Series(fatturati_dict) #equivalente a quella sopra 
#Possiamo accedere alle stesse informazioni nello stesso modo: fatturati_dict[1997] fatturati_series[1997]
#Dunque qual è la differenza tra i due tipi di dato?
#Cosa potremmo fare con la Series che non possiamo fare con il dizionario?
print(fatturati_series)

fatturati_series_no_index = pd.Series([12_000, 15_000, 20_000, 23_000, 25_000, 17_000, 14_000, 21_000])

1997    12000
1998    15000
1999    20000
2000    23000
2001    25000
2002    17000
2003    14000
2004    21000
dtype: int64

In [48]:
print(fatturati_series_no_index[5])

#la differenzia tra una series e un dict di python sono che il dict richiede la key corretta per accedere al suo value, mentre le series se non indicizzate possono essere interorgare come una lista

17000

In [62]:
# L'azienda Object SpA ha un dataset con tutti gli stipendi dei dipendenti, memorizzato in un ndarray: 
import numpy as np 
from datetime import *

stipendi = np.array( [100, 200, 300, 400, 500,  600, 700, 800, 900, 1000] ) 
#L'azienda ci chiede di raddoppiare tutti gli stipendi; facciamolo in due modi: • con un ciclo for • con il masking

type(stipendi)

stipendi_raddoppiati = []

stipendi_raddoppiati_ = []

#ciclo for 
for i in stipendi:
    start = datetime.now()
    stipendi_raddoppiati.append(i * 2)
    end = datetime.now()
    t = end - start 

print(t, stipendi_raddoppiati)

#masking 
stipendi_raddoppiati_ = stipendi*2

print(stipendi_raddoppiati_)

0:00:00 [200, 400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000]
[ 200  400  600  800 1000 1200 1400 1600 1800 2000]

In [ ]:
##### esercitazione 2 week 11 giorno 4

In [102]:
from sqlalchemy import create_engine
import dotenv
import os
import pandas as pd
dotenv.load_dotenv(override=True)
username = os.getenv('username')
password = os.getenv('password')
host = os.getenv('host')
dbname = os.getenv('dbname')

import pandas as pd
dbname = "AdventureWorksDW"
conn_string = f"mysql+pymysql://{username}:{password}@{host}/{dbname}"
db_engine = create_engine(conn_string)
query = """SELECT *
        FROM dimcustomer
        """
df = pd.read_sql(query, db_engine)

# call attribut per vedere colonne e righe totali 
#print(df.shape)

# attributo per vedere nomi colonne non ritorna una lista, ma se vuoi con to.list() puoi fare type casting 
#df.columns

# stampa primo elemento 
# df.head(1)

#stampa ultimo elemento 
#df.tail(1)

#stampa 5 elementi a caso 
df.sample(5)

#scelgiere n righe e n colonne 
#df.loc[1:5,"CustomerKey":"Title"]

#colori? per selezionare gli attributi singoli basta utilizzare nunique
df.nunique()
#scegliere la colonna e interrogarla 
df["Title"].unique()

array([None, 'Mr.', 'Ms.', 'Mrs.', 'Sr.', 'Ms'], dtype=object)

In [125]:
from sqlalchemy import create_engine
import dotenv
import os
import pandas as pd
dotenv.load_dotenv(override=True)
username = os.getenv('username')
password = os.getenv('password')
host = os.getenv('host')
dbname = os.getenv('dbname')

import pandas as pd
dbname = "AdventureWorksDW"
conn_string = f"mysql+pymysql://{username}:{password}@{host}/{dbname}"
db_engine = create_engine(conn_string)
query = """SELECT *
        FROM dimproduct
        """
df = pd.read_sql(query, db_engine)

# call attribut per vedere colonne e righe totali 
#print(df.shape)

# attributo per vedere nomi colonne non ritorna una lista, ma se vuoi con to.list() puoi fare type casting 
#df.columns

# stampa primo elemento 
# df.head(1)

#stampa ultimo elemento 
#df.tail(1)

#stampa 5 elementi a caso 
#df.sample(5)

#scelgiere n righe e n colonne 
#df.loc[1:5,"CustomerKey":"Title"]

#colori? per selezionare gli attributi singoli basta utilizzare nunique
df.nunique()
#scegliere la colonna e interrogarla 
#df["Color"].unique()

ProductKey               606
ProductAlternateKey      504
ProductSubcategoryKey     37
WeightUnitMeasureCode      2
SizeUnitMeasureCode        1
EnglishProductName       504
SpanishProductName       238
FrenchProductName        238
StandardCost             131
FinishedGoodsFlag          2
Color                     10
SafetyStockLevel           6
ReorderPoint               6
ListPrice                119
Size                      18
SizeRange                 11
Weight                   127
DaysToManufacture          4
ProductLine                4
DealerPrice              120
Class                      3
Style                      3
ModelName                119
LargePhoto                42
EnglishDescription       114
FrenchDescription        113
ChineseDescription       113
ArabicDescription        113
HebrewDescription        113
ThaiDescription          113
GermanDescription        113
JapaneseDescription      114
TurkishDescription       114
StartDate                  4
EndDate                    2
Status                     1
dtype: int64

In [122]:
print(media_peso, min_weight,max_weight)

56.1932269503546 2.12 1050.0

In [ ]:
#estrarre series da df per il peso 
weight_column = df["Weight"][:]

#calcolo media 
media_peso = wight_column.mean()
min_weight = wight_column.min()
max_weight =wight_column.max()

In [136]:
#accertamneto per valore più alto 
mask = weight_column >= 100
#aggiungo maschera a series 
prodotti_peso_maggiore_cento = df["Weight"][:][mask]
print(prodotti_peso_maggiore_cento)

179     435.0
180     450.0
181     400.0
182     445.0
183     450.0
184     400.0
185     460.0
412     900.0
413     850.0
414     650.0
421    1050.0
422    1000.0
423     890.0
500     215.0
513     317.0
541     218.0
542     215.0
543     185.0
544     189.0
545     168.0
546     149.0
554     317.0
555     600.0
556     635.0
557     575.0
600     223.0
601     168.0
602     170.0
Name: Weight, dtype: float64

In [141]:
prezzi_colonna = df["DealerPrice"]
media_prezzo = prezzi_colonna.mean()
print(prezzi_colonna, media_prezzo)

0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
        ...
601     60.744
602     72.894
603    323.994
604    323.994
605    323.994
Name: DealerPrice, Length: 606, dtype: float64 448.5970597468353

In [142]:
df.shape

(606, 36)

In [168]:
condizione = df["DealerPrice"] > 448
db_mask_prezzi_piu_della_media = df.loc[condizione]

db_mask_prezzi_piu_della_media.iloc[0:5, 15:21]

    SizeRange  Weight  DaysToManufacture ProductLine  DealerPrice Class
237  60-62 CM    2.30                  1           R     758.0759     H
238  60-62 CM    2.30                  1           R     780.8182     H
239  60-62 CM    2.30                  1           R     858.9000     H
240  42-46 CM    2.12                  1           R     758.0759     H
241  42-46 CM    2.12                  1           R     780.8182     H