In [16]:
import pandas as pd 

path_dataset2 = "C:/Users/anthony/Desktop/db_esercitazione/dataset/beginner_datasets/"
file2 = "wine.csv"
path = path_dataset2 + file2


wine = pd.read_csv(path)

wine.columns

wine.head()

wine.sample(10)

# raggruppo per quality type
wqg = wine.groupby("quality")
# meadia su quality 
wqg.alcohol.mean()

quality
3    10.215000
4    10.180093
5     9.837783
6    10.587553
7    11.386006
8    11.678756
9    12.180000
Name: alcohol, dtype: float64

In [5]:
# raggruppo su type 
red_white = wine.groupby("type")
red_white.alcohol.mean()
red_white.alcohol.describe()

        count       mean       std  min  25%   50%   75%   max
type
red    1599.0  10.422983  1.065668  8.4  9.5  10.2  11.1  14.9
white  4898.0  10.514267  1.230621  8.0  9.5  10.4  11.4  14.2

In [7]:
wine.pH.mean()

3.2185008465445586

In [15]:
red_white.pH.mean()
# il dataframe non ha attributo columns quindi ricordarsi che si usa il .columns su DataFrame 
red_white.sulphates.mean()

type
red      0.658149
white    0.489847
Name: sulphates, dtype: float64